body {
  font-family: 'Open Sans';
  font-family: bold;
  font-size: 30px;
  background-color: #6973A2;
}
.add-note {
  background-color: #fdfdfd;
  border: 1px solid #ccc;
}

.notes {
  margin: 0.5em;
  paddin-left: 0;

  max-width: 10em;
  list-style: none;
}

.note {
  margin-bottom: 0.5em;
  padding: 0.5em;
  color: white;
  background-color: #4A568B;
  box-shadow: 0 0 0.3em 0.03em rgba(0, 0, 0, 0.3);
}
.note:hover {
  box-shadow: 0 0 0.3em 0.03em rgb(0, 0, 0, 0.7);
  background-color: #1C285D;
  transition: 0.6s;
}

.note .task {
  display: inline-block;
}

.note .delete-note {
  float: right;
  padding: 0;
  background-color: #F86F56;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  color: white;
  font-size: 30px;
  line-height: 30px;
  border-radius: 5%;
  visibility: hidden;
}

.note:hover .delete-note {
  visibility: visible;
  transition: 0.6s;
}
